@use "sass:math";
@use "../../inc/setting" as *;
@use "../../inc/functions";
@use "../../inc/mixin" as *;

/*
  Card
*/

.c-card {
  position: relative;
  display: block;
  text-decoration: none;
  color: $primary-text-color;

  &.-purple {
    &:hover {
      .c-card__title {
        color: $color-purple;
      }
    }
  }

  &:hover {
    transition-property: transform color;
    transition: 0.3s $easing-heart;

    .c-card__title {
      color: $accent-color;
    }

    .c-card__thumbnail {
      img {
        transform: scale(1.125);
      }
    }
  }

  &__body {
    margin-top: 1.25rem;

    @include mq(lap) {}
  }

  &__thumbnail {
    overflow: hidden;
    border-radius: $border-radius;
    will-change: transform;

    img {
      transition: transform 0.3s $easing-heart;
      position: relative;
      z-index: 1;
      object-fit: cover;
      width: 100%;
      aspect-ratio: 4/3;
    }
  }

  &__cat {
    time {
      font-family: $font-set-en;
      color: $color-lightGray2;

      @include mq(lap) {
        font-size: 1rem;
      }

      &.purple {
        color: $color-purple;
      }
    }
  }

  &__title {
    transition: color 0.3s $easing-heart;
    margin-top: 0.25em;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @include mq(lap) {
      font-size: 1rem;
    }
  }
}