/*
  Heading
*/

.c-heading {
  font-weight: 500;
  font-family: $font-set-serif;
  font-size: 1.875rem;
  line-height: 1.5;
  padding-bottom: 1.75rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: $color-gray;
    left: 0;

    bottom: 0;
  }

  @include mq(tab) {
    $font-size: 28px;
    font-size: set-size($font-size);
  }

  @include mq(lap) {
    $font-size: 45px;
    font-size: set-size($font-size);
  }

  &.-primary {
    @include mq(tab) {
      margin-bottom: 2rem;
    }
  }

  &.-center {
    text-align: center;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.-sizeS {
    font-size: 1.25rem;
    padding: 0;

    @include mq(lap) {
      font-size: 1.5rem;
    }

    &::before {
      display: none;
    }

    &.-border {
      padding-bottom: 1rem;

      &::before {
        width: 1.5rem;
        position: absolute;
        height: 1px;
        background-color: $color-gray;

        bottom: 0;

        @include mq(lap) {
          width: 2rem;
        }
      }
    }
  }

  &.-sizeM {
    $font-size: 26px;
    font-size: set-size($font-size);

    @include mq(lap) {
      $font-size: 32px;
      font-size: set-size($font-size);
    }

    &::before {
      display: none;
    }
  }

  .en {
    display: block;
    font-family: $font-set-en;
    $font-size: 13px;
    font-size: set-size($font-size);
    color: $accent-color;

    @include mq(lap) {
      font-size: 1.25rem;
    }

    &.-purple {
      color: $color-purple;
    }
  }

  &.-underPrimary {
    font-size: 1.5rem;
    padding: 0;

    @include mq(s-sp) {
      font-size: 2rem;
    }

    @include mq(lap) {
      font-size: 3.5rem;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  &.-underSecondary {
    @include mq(lap) {
      font-size: 1.75rem;
    }

    @include mq(desk) {
      font-size: 2rem;
    }

    @include mq(l-lap) {
      font-size: 2.8125rem;
    }
  }

  &.-pn {
    padding-bottom: 0;

    .detail {
      font-size: 1rem;

      @include mq(lap) {
        font-size: 1.5rem;
      }
    }
  }

  &.-heading-bar {
    font-size: 1.125rem;
    color: $color-white;
    padding: 3px 1rem;
    background-color: $accent-color;

    @include mq(lap) {
      font-size: 2.125rem;
      padding: 6px 1rem;
    }

    &::before {
      display: none;
    }
  }
}