@use "sass:math";
@use "variable" as *;
@use "mixin" as *;

html {
  font-size: 10px;

  @media #{$breakL} {
    font-size: vw(10, 1220);
  }

  @media #{$breakS} {
    font-size: vw(10);
  }
}

body {
  @include fontFamily('gothic');
  font-size: 1.5rem;
  font-weight: $fontMedium;
  line-height: $lineHeight;
  color: $colorBlack;
  background: $colorWhite;
  letter-spacing: $letterSpacing;
  text-size-adjust: 100%;
  min-width: $width;
  overflow-x: hidden;

  @media #{$breakS} {
    min-width: 100%;
    font-size: 1.4rem;
  }

  * {
    outline: none;
    font-feature-settings: "palt" 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 0px;
  margin: 2px;
  box-shadow: none;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, .2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fontMedium;
  line-height: 1.5;
}

img {
  // pointer-events: none;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;

  @media #{$breakS} {
    width: 100%;
    image-rendering: auto;
  }

  @media #{$retina} {
    image-rendering: auto;
  }
}

picture {
  display: block;
  line-height: 0;
}

a {
  @include hoverOpacity($opacity);

  &[href^="tel:"] {
    cursor: default;
    pointer-events: none;

    @media #{$breakS} {
      pointer-events: auto;
    }
  }
}

a,
i {
  font-style: normal;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

em,
strong {
  font-weight: $fontBold;
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

dl {
  dt {
    font-weight: $fontMedium;
  }

  dd {}
}

ul,
ol {}

figure {
  line-height: 0;

  figcaption {
    line-height: $lineHeight;
  }
}

table {
  width: 100%;

  th {
    font-weight: $fontBold;
  }
}

iframe {
  border: none;
}

input,
textarea,
select,
button {
  @include fontFamily('gothic');
  font-size: 1.5rem;
  font-weight: $fontMedium;
  line-height: $lineHeight;
  color: $colorBlack;
  background: $colorWhite;
  letter-spacing: $letterSpacing;
  text-size-adjust: 100%;
  overflow-x: hidden;
  outline: none;
  font-feature-settings: "palt" 1;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;

  @media #{$breakS} {
    font-size: 1.4rem;
  }
}

label {
  display: inline-block;
  cursor: pointer;
}

textarea {
  display: block;
  resize: vertical;
  vertical-align: bottom;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  @include hoverOpacity($opacity);
  cursor: pointer;
}