@charset 'UTF-8';
@import "color-book";

// -----------------------------------
//  Layout Settings
//------------------------------------

// Contentの幅
$content-width: 1080px !default;

// ブレークポイント
$breakpoints: (
  "s-sp": 375px,
  "sp": 480px,
  "tab": 768px,
  "lap": 1024px,
  "desk": 1200px,
  "l-lap": 1450px,
  "l-desk": 1600px,
  "vr": 1024px,
) !default;

//====================================
//  Color Setings
//====================================

// ベースカラー
$base-color: #fff;

// メインカラー
$main-color: #006edb;

// サブカラー
$sub-color: #f0ece4;

//　アクセントカラー
$accent-color: #ae9373;

// ライトグレー
$color-lightGray: #8b8780;

// ライトグレー
$color-lightGray2: #bebab3;

// グレー
$color-gray: #48453a;

// ホワイト
$color-white: #fff;

// ベージュ
$color-beige: #f9f8f8;

// ライトベージュ
$color-lightBeige: #e6e5e4;

// グリーン
$color-green: #1e8e43;

// ブラック
$color-black: #171717;

// パープル
$color-purple: #b096b2;

// テキストの色
$primary-text-color: #48453a;

// セカンダリーカラー
$secondary-text-color: $md-blue-grey-500;

// 補足などの色
$hint-text-color: $md-blue-grey-300;

// リンクカラー
$link-text-color: $md-cyan-500;

// ロールオーバーーカラー
$hover-text-color: $md-cyan-300;

//====================================
//  Typeface
//====================================

//$font-set-primary : set-font-family(1) !default;

$font-set-primary: "Noto Sans JP", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3",
  "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
$font-set-en: "Lato", sans-serif;
$font-set-serif: "Noto Serif JP", serif;

// 1 : Roboto, Noto sans
// 2 : Baskerville, 游ゴシック
// 3 : Open Sans, Noto sans
// 4 : Lato, Noto sans
// 5 : Roboto, 游ゴシック
// 6 : Baskerville, Noto sans
// 7 : Noto Sans

$base-font-size: 14px;

$border-radius: 5px;

$easing-opera: cubic-bezier(0.82, 0, 0.16, 1);
$easing-heart: cubic-bezier(0.161, 0.86, 0.14, 1);
$easing-heart: cubic-bezier(0.22, 0, 0.53, 1);
