@use "sass:math";
@use "../../inc/setting" as *;
@use "../../inc/functions";
@use "../../inc/mixin" as *;

//====================================
//  Break
//====================================

/*
  Break
*/
.u-break {
  .-sp {
    display: inline-block;

    @include mq(tab) {
      display: none;
    }
  }

  .-tab {
    display: none;

    @include mq(tab) {
      display: inline-block;
    }
  }
}