@use "sass:math";
@use "../../inc/setting" as *;
@use "../../inc/mixin" as *;

/*
  Screen Reader Text
*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.pan {
  ol {
    @include mq(lap) {
      padding: 15px 0;
    }

    li {
      display: inline;

      &.current-item {
        a {
          border-bottom: none !important;
        }
      }
    }

    li a {
      text-decoration: none;
      color: $primary-text-color;
      position: relative;
      transition: 0.3s $easing-heart;

      &:not(:last-child) {
        margin-right: 1.75rem;
        border-bottom: 1px solid $accent-color;
        color: $accent-color;

        @include mq(lap) {
          margin-right: 3rem;
        }
      }

      &:not(:last-child) ::after {
        position: absolute;
        content: "";
        border-top: 1px solid #c3c1c3;
        border-right: 1px solid #c3c1c3;
        width: 0.5rem;
        height: 0.5rem;
        transform: rotate(45deg);
        top: 3px;
        bottom: 0;
        margin: auto 0;
        font-size: inherit;
        right: -1.25rem;

        @include mq(lap) {
          right: -1.75rem;
        }
      }

      &:hover {
        opacity: 0.5;
      }

      &.current-item {
        color: $primary-text-color;
      }
    }

    li.current-item {
      color: $primary-text-color;
      pointer-events: none;

      span::after {
        display: none;
      }
    }
  }

  &-top {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;

    @include mq(lap) {
      top: 10px;
    }
  }

  &-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;

    @include mq(lap) {
      bottom: 10px;
    }
  }
}