@use "sass:math";
@use "../../inc/setting" as *;
@use "../../inc/mixin" as *;

/*
  Screen Reader Text
*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}