@use "sass:math";
@use "../core/variable" as *;
@use "../core/mixin" as *;

.m_table_calender {
  table {

    th,
    td {
      text-align: center;
      width: 5rem;
      padding: 1rem 0;
      vertical-align: middle;

      @media #{$breakS} {
        line-height: 1.4;
        padding: .5rem 0;
      }
    }

    .item01 {
      text-align: left;
    }

    th+th {
      border-left: 1px solid $colorLightGray;
    }

    td {
      border-left: 1px solid $colorLightGray;
    }

    thead {
      th {
        &.item01 {
          width: 12rem;

          @media #{$breakS} {
            width: 9rem;
          }
        }
      }
    }

    tbody {
      tr {
        th {
          text-align: left;
        }

        &:last-child {

          td,
          th {
            border-top: 1px solid $colorLightGray;
          }
        }
      }
    }
  }

  .iconDesc {
    text-align: right;
    font-size: 1.3rem;
    margin-top: 0.5rem;

    @media #{$breakS} {
      font-size: 1.1rem;
    }
  }

  .time,
  .notes {
    font-size: 1.3rem;
    margin-top: 1rem;

    @media #{$breakS} {
      font-size: 1.1rem;
    }

    a {
      text-decoration: underline;
    }
  }

  .notes {
    margin-top: .5rem;
  }
}