@use "sass:math";
@use "../inc/color-book" as *;
@use "../inc/setting" as *;
@use "../inc/functions" as *;
@use "../inc/mixin" as *;
@use "../inc/mixlupin" as *;

/*
  Header
-----------------------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}