@use "sass:math";
@use "../inc/color-book" as *;
@use "../inc/setting" as *;
@use "../inc/functions" as *;
@use "../inc/mixin" as *;
@use "../inc/mixlupin" as *;

/*
  Spacer
-----------------------------------------------------*/

.l-spacer {
  padding: 4.5rem 0;

  @include mq(lap) {
    padding: 9.5rem 0;
  }

  &.-colorSub {
    background-color: $sub-color;
  }

  &.-sub {
    padding: 3rem 0 0 0;

    @include mq(lap) {
      padding: 6rem 0 0 0;
    }
  }

  &.-sizeL {
    padding: 4.5rem 0;

    @include mq(lap) {
      padding: 11.25rem 0;
    }
  }

  &.-top {
    padding: 4.5rem 0 0 0;

    @include mq(lap) {
      padding: 9.5rem 0 0 0;
    }
  }

  &.-sizeLtop {
    padding: 4.5rem 0 0 0;

    @include mq(lap) {
      padding: 11.25rem 0 0 0;
    }
  }

  &.-bottom {
    padding: 0 0 4.5rem 0;

    @include mq(lap) {
      padding: 0 0 9.5rem 0;
    }
  }

  &.-sizeLbottom {
    padding: 4.5rem 0;

    @include mq(lap) {
      padding: 9.5rem 0 15.5rem;
    }
  }

  &.-topS {
    padding: 2.5rem 0 0 0;
  }

  &.-footer {
    padding: 4.5rem 0;

    @include mq(lap) {
      padding: 9.5rem 0 4.5rem;
    }
  }

  &.-map {
    padding: 4.5rem 0 0;

    @include mq(lap) {
      padding: 9.5rem 0;
    }
  }

  &.-under {
    padding: 1rem 0 0 0;
    background-color: $color-white;

    @include mq(lap) {
      padding: 3rem 0 0 0;
    }
  }

  &.-borderTop {
    border-top: 1px solid $color-lightBeige;
  }
}