// ----------------------------------------
// 初期設定・リセット
@use "sass:math";
@use "core/variable" as *;
@use "core/mixin" as *;

// ----------------------------------------
// 個別
#page_fever {
  #fever {
    .point {
      margin-top: 3rem;

      @media #{$breakS} {
        margin-top: 2rem;
      }
    }
  }

  #visit {
    .flow {
      margin-top: 5rem;

      @media #{$breakS} {
        margin-top: 4rem;
      }
    }
  }
}