/*
  Hero
*/
.p-hero {
  position: relative;
  text-align: center;
  margin-top: 4.5rem;

  @include mq(lap) {
    margin-top: 0;
  }

  &__inner {
    position: relative;
    overflow: hidden;
    width: calc(100% - 7.5%);
    margin-left: auto;
    border-radius: 5px 0 0 5px;

    @include mq(lap) {
      border-radius: 5px 0 0 0;
      width: calc(100% - 80px);
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1.75rem;
    font-weight: bold;
    color: #fff;

    @include mq(lap) {
      font-size: 2.5rem;
    }
  }

  &__swiperImage {
    display: block;

    img {
      object-fit: cover;
      width: 100%;
      height: 85vh;

      @include mq(lap) {
        min-height: 600px;
      }

      @include mq(l-lap) {}
    }
  }

  &__pagination {
    display: none;

    @include mq(lap) {
      position: absolute;
      display: inline-block;
      top: 20%;
      left: 25px;
    }
  }

  &__swiperText {
    writing-mode: vertical-rl;
    color: $accent-color;
    font-weight: 300;
    letter-spacing: 0.6rem;
    font-family: $font-set-en;
    font-size: 0.75rem;
    display: inline-block;

    @include mq(lap) {
      font-size: 1rem;
      letter-spacing: 0.8rem;
    }
  }

  &__body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__copy {
    position: absolute;
    top: -40px;
    left: 10%;
    z-index: 1;

    @include mq(lap) {
      top: 26%;
      left: 11%;
    }

    .main {
      font-family: $font-set-serif;
      font-weight: 500;
      font-size: 8.5vw;
      text-align: left;
      line-height: 1.4;
      letter-spacing: 0.3rem;
      display: block;

      @include mq(tab) {
        font-size: 6.5vw;
      }

      @include mq(lap) {
        font-size: 2.5rem;
      }

      @include mq(l-lap) {
        font-size: 3.5rem;
      }
    }

    .br,
    .item {
      display: block;
      text-align: left;
    }

    .br-sp {
      display: block;
      text-align: left;

      @include mq(lap) {
        display: inline-block;
      }
    }

    .item {
      text-align: left;
      letter-spacing: 0.1rem;
      position: relative;
      margin-top: 0.5rem;
      padding-left: 2rem;
      font-size: 3vw;
      position: relative;

      @include mq(tab) {
        font-size: 2vw;
      }

      @include mq(lap) {
        font-size: 1rem;
        margin-top: 0.75rem;
        letter-spacing: 0.3rem;
        padding-left: 4rem;
      }

      &::before {
        content: "";
        top: 10px;
        left: 5px;
        width: 20px;
        height: 1px;
        display: inline-block;
        position: absolute;
        background-color: $primary-text-color;

        @include mq(lap) {
          width: 40px;
          top: 15px;
        }
      }
    }
  }

  &__reserve {
    position: fixed;
    cursor: pointer;
    z-index: 3;
    width: 110px;
    height: 110px;
    background-color: $accent-color;
    border-radius: 50%;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    right: 2%;
    bottom: 10px;
    transition: 0.3s $easing-heart box-shadow;

    @include mq(lap) {
      bottom: 120px;
      right: 2%;
      width: 120px;
      height: 120px;
    }

    @include mq(l-lap) {
      width: 150px;
      height: 150px;
      bottom: 140px;
    }

    &:hover {
      box-shadow: 0px 0px 15px #e6e5e4;
      transition: 0.3s $easing-heart box-shadow;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    .text {
      color: $color-white;
      display: inline-block;
      position: relative;
      bottom: -55px;
      font-family: $font-set-serif;
      display: block;
      text-align: center;

      @include mq(lap) {
        font-size: 0.875rem;
        bottom: -67px;
      }

      @include mq(l-lap) {
        font-size: 1rem;
        bottom: -75px;
      }

      &::before {
        content: "";
        position: absolute;
        background: url(/wp-content/themes/HeartClinic/assets/images/icon-mail.svg) no-repeat;
        background-size: contain;
        width: 27px;
        height: 22px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;

        @include mq(lap) {
          background: url(/wp-content/themes/HeartClinic/assets/images/icon-mail.svg) no-repeat;
          background-size: contain;
          width: 31px;
          height: 22px;
          bottom: 35px;
        }
      }
    }

    &.-beauty {
      background-color: $color-purple;

      .text {
        &::before {
          background: url(/wp-content/themes/HeartClinic/assets/images/beauty/icon-line-white.svg) no-repeat;
          background-size: contain;
          width: 32px;
          height: 32px;
          bottom: 28px;
        }
      }
    }
  }

  &__time {
    position: absolute;
    bottom: 0;
    left: 80px;
    z-index: 1;
    border-radius: 0 $border-radius 0 0;
  }

  &__time__note-text {
    text-align: center;
    margin-top: 5px;

    @include mq(lap) {
      text-align: left;
      margin-top: 10px;
      margin-left: 5px;
      text-align: left;
    }
  }
}