/*
  under
*/

.l-under {
  &.-sub {
    padding: 0 0 5rem 0;
    background-color: $color-white;

    @include mq(lap) {
      padding: 0 0 7.5rem 0;
    }
  }

  &.-gray {
    background-color: $base-color;
  }

  &.-beige {
    background-color: $color-beige;
  }

  &.-main {
    @include mq(lap) {
      display: flex;
      border-top: 1px solid $color-lightBeige;
    }
  }

  &__main {
    @include mq(lap) {
      border-left: 1px solid $color-lightBeige;
    }
  }

  &__sideMenu {
    width: 85%;
    margin: 0 auto;

    @include mq(lap) {
      position: sticky;
      top: 170px;
      padding-bottom: 3rem;
      margin: 0;
      width: auto;
      height: fit-content;
    }
  }
}