@use "sass:math";
@use "../../inc/color-book" as *;
@use "../../inc/setting" as *;
@use "../../inc/functions" as *;
@use "../../inc/mixin" as *;
@use "../../inc/mixlupin" as *;

/*
  Author
*/
.p-author {
  margin-top: 1rem;
  border: 1px solid #ddd;

  &__title {
    background-color: $main-color;
    color: #fff;
    display: inline-block;
    padding: .25rem 1rem;
  }

  &__name {
    padding: 1rem;
  }
}