@use "sass:math";
@use "../../inc/setting" as *;
@use "../../inc/mixin" as *;

/*
  Hamburger
*/
$hambPosition: right;
$hambLine-color: $accent-color;
$hambActive-line-color: $accent-color;

// setting
$hambRight: 7.5%;
$hambLeft: auto;

@if $hambPosition ==left {
  $hambRight: auto;
  $hambLeft: 7.5%;
}

.p-hamburger {
  position: absolute;
  top: 6px;
  right: 5%;
  z-index: 11;

  width: 30px;
  height: 42px;
  outline: 0;
  border: 0;
  transition: all 0.5s $easing-heart;
  overflow: visible;

  &__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background-color: $hambLine-color;
    transition: transform 0.5s $easing-heart;
  }

  &__line:before,
  &__line:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    content: "";
    transition: inherit;
  }

  &__line:before {
    top: -8px;
  }

  &__line:after {
    top: 8px;
  }

  @include mq(lap) {
    display: none;
  }

  .is-drawerActive & {
    &__line {
      background-color: transparent;

      &:before,
      &:after {
        top: 0;
        background-color: $hambActive-line-color;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }

  &__text {
    color: $color-gray;
    display: inline-block;
    letter-spacing: 0.01rem;
    $font-size: 11px;
    font-size: sizeRem($font-size);

    position: absolute;
    top: 2rem;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    width: 100%;

    @include mq(lap) {
      display: none;
    }

    &>div {
      overflow: hidden;
      height: 12px;

      &>span {
        transition-property: transform;
        transition: 0.5s $easing-heart;
        transform: translateY(0);
      }

      &.active {
        &>span {
          transition-property: transform;
          transition: 0.5s $easing-heart;
          transform: translateY(-100%);
        }
      }
    }

    span {
      display: block;
    }
  }
}