@use "sass:math";
@use "../../inc/color-book" as *;
@use "../../inc/setting" as *;
@use "../../inc/functions" as *;
@use "../../inc/mixin" as *;
@use "../../inc/mixlupin" as *;

/*
  Logo
*/
.p-logo,
.custom-logo-link {
  display: inline-block;
  padding: 0.5em 0;
  text-decoration: none;
  font-weight: bold;
  color: $main-color;
  font-size: 1.5em;
  letter-spacing: -0.02em;
  line-height: 1;
  max-width: 144px;

  @include mq(l-lap) {
    max-width: 100%;
  }

  img {
    transition: 0.4s $easing-heart;
  }
}