@use "sass:math";
@use "../../inc/setting" as *;
@use "../../inc/mixin" as *;

/*
  navigation
*/

.p-navigation {
  margin-top: 4rem;

  @include mq(lap) {
    margin-top: 5rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 33.3%;
    text-align: center;
    letter-spacing: 0.05rem;
    position: relative;

    a {
      text-decoration: none;
      color: $primary-text-color;
      display: block;

      .inner {
        position: relative;
      }

      svg {
        fill: $primary-text-color;
        transition: fill 0.3s $easing-heart;
      }

      &:hover {
        color: $accent-color;

        svg {
          fill: $accent-color;
          transition: fill 0.3s $easing-heart;
        }
      }

      svg {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }

    &.-left {
      a {
        .inner {
          svg {
            left: -32px;
          }
        }
      }
    }

    &.-right {
      a {
        svg {
          right: -32px;
        }
      }
    }
  }
}